{% load static %}
{% load static tailwind_tags %}

<button id="sidebarToggle" class="fixed top-4 left-4 z-50 md:hidden bg-indigo-600 text-white p-2 rounded-lg shadow-md hover:bg-indigo-700 transition">
  ☰ Menu
</button>

<!-- Sidebar -->
<div id="sidebar" class="fixed md:static top-0 left-0 h-full md:h-auto w-64 md:w-[18%] min-w-[200px]
    bg-gradient-to-b from-indigo-400 to-indigo-900 text-black p-6 shadow-lg rounded-r-lg md:rounded-lg
    transform -translate-x-full md:translate-x-0 transition-transform duration-300 ease-in-out z-40">
  <nav class="space-y-4">
    <a href="{% url 'admin_dashboard' %}" class="flex items-center gap-3 p-2 rounded-lg hover:bg-gray-100 transition-all">
      <img src="{% static 'images/admin_dashboard_images/dashboard.svg' %}" class="w-5 h-5">
      <span class="text-black">Dashboard</span>
    </a>
    <a href="{% url 'projects' %}" class="flex items-center gap-3 p-2 rounded-lg hover:bg-gray-100 transition-all">
      <img src="{% static 'images/admin_dashboard_images/projects.svg' %}" class="w-5 h-5">
      <span class="text-black">Programs</span>
    </a>
    <a href="{% url 'budget' %}" class="flex items-center gap-3 p-2 rounded-lg hover:bg-gray-100 transition-all">
      <img src="{% static 'images/admin_dashboard_images/budget.svg' %}" class="w-5 h-5">
      <span class="text-black">Budget</span>
    </a>
    <a href="{% url 'view_projects' %}" class="flex items-center gap-3 p-2 rounded-lg hover:bg-gray-100 transition-all">
      <img src="{% static 'images/admin_dashboard_images/budget.svg' %}" class="w-5 h-5">
      <span class="text-black">View Projects</span>
    </a>
  </nav>
</div>

<script src="{% static "js/script.js" %}"></script>