{% extends "layout.html" %} 

{% load static %} 

{% load static tailwind_tags %} 

{% block title %}CIET PMU - Admin Dashboard{% endblock %} 

{% block content %}
<script src="{% static 'js/chart.js' %}"></script>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  .section {
    display: none;
  }
  .section.active {
    display: block;
  }
</style>
<div class="flex h-screen">
  {% include "partials/admin_sidebar.html" %}

  <!-- Main Content -->
  <div class="flex-1 p-8 overflow-auto">
    <div class="bg-white mt-10 p-4 rounded-lg shadow">
      <canvas
        id="barChart"
        data-labels="{{ labels|safe }}"
        data-values="{{ data|safe }}"
      ></canvas>
    </div>
  </div>
</div>

<script src="{% static 'js/chartLogic.js' %}"></script>
{% endblock %}
