<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h2>Filtered Project Report</h2>
  <table class="table_pdf">
    <thead>
      <tr>
        <th class="th_pdf">Title</th>
        <th class="th_pdf">Coordinator</th>
        <th class="th_pdf">Year</th>
        <th class="th_pdf">Created At</th>
        <th class="th_pdf">Budget</th>
        <th class="th_pdf">Sub-Type</th>
      </tr>
    </thead>
    <tbody>
      {% for p in projects %}
      <tr>
        <td class="td_pdf">{{ p.title }}</td>
        <td class="td_pdf">{{ p.coordinator.username }}</td>
        <td class="td_pdf">{{ p.annual_budget.year }}</td>
        <td class="td_pdf">{{ p.created_at|date:"Y-m-d" }}</td>
        <td class="td_pdf">{{ p.program_budget }}</td>
        <td class="td_pdf">{{ p.program_sub_type }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
